.todo-detail-card {
  min-width: 400px;
}

.todo-detail-card-header {
  justify-content: center;
}

.todo-detail-title {
  font-size: 1.10em;
}
.completed {
  text-decoration: line-through;
}

.todo-detail-description {
  margin: 1.5em 0;
  font-style: italic;
  color: #444;
}
